RewriteEngine On    # Turn on the rewriting engine
RewriteRule ^selectedAlbum$ selectedAlbum.php [NC,L]
RewriteRule ^user_liked_songs$ user_liked_songs.php [NC,L]
RewriteRule ^artist$ artist.php [NC,L]
RewriteRule ^account$ account.php [NC,L]
RewriteRule ^updateTrackUserData$ updateTrackUserData.php [NC,L]
